/* modification fixe non altérée par l'utilisateur donc modif dans css */ 
body{
    margin:0;
    background:darkgrey;
    overflow: hidden;
    text-align: center; /* pour centrer la route */
}
#reseauCanvas{
    background: black;
}
#voiturekCanvas{
    background: lightcoral;
}